{% extends "bracket/layout.html"%}
{% block body %}
{% load static %}
<style>
body, html {
  height: 100%;
}

.bg {
  background-image: url("{% static 'bracket/images/semi-final.png' %}");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<input hidden id = 'amount_of_participants' value = '{{stage.amount_of_participants}}'></input>
<input hidden id = 'final_stage' value = '{{final_stage}}'></input>
{% if not finalists %}
<div class="bracket-wrapper">
    <img src="{% static 'bracket/images/semi-final.png' %}" class="bracket-bg" alt="Tournament Bracket">
    
    <div class="button-container">
        <button class="pick-button" id="left-pick">Pick</button>
        <button class="pick-button" id="right-pick">Pick</button>
        <button hidden class="pick-button" id="final-pick">Pick</button>
    </div>
    
    {% for obj in semi_finalists %}
    <div data-youtube-id="{{obj.video_url}}" class="participant-slot" 
         data-id="{{ obj.id }}"
         style="top: {{ obj.slot_row_semi }}%; 
                left: {{ obj.is_left_side|yesno:'12.2,85.6' }}%;">
        <span class="obj_name" title="{{ obj.obj_name }}">{{ obj.obj_name }}</span>
        <div class="participant-box">
            <img src="{{ obj.img }}" alt="{{ obj.obj_name }}">
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
    {% if not winner %}
    <div class="bracket-wrapper">
        <div class="button-container">
            <button hidden class="pick-button" id="left-pick">Pick</button>
            <button hidden class="pick-button" id="right-pick">Pick</button>
            <button class="pick-button" id="final-pick">Pick</button>
        </div>

        <img src="{% static 'bracket/images/semi-final.png' %}" class="bracket-bg" alt="Tournament Bracket">
        
        <!-- Original Participants (hidden or shown as needed) -->
        {% for obj in semi_finalists %}
        <div  class="participant-slot original-participant"
            data-id="{{ obj.id }}"
            style="top: {{ obj.slot_row_semi}}%; 
                    left: {{ obj.is_left_side|yesno:'12.2,85.6' }}%;">  <!-- Hide original participants in final stage -->
            <span class="obj_name">{{ obj.obj_name }}</span>
            <div class="participant-box">
                <img src="{{ obj.img }}" alt="{{ obj.obj_name }}">
            </div>
        </div>
        {% endfor %}
        
        <!-- Finalists -->
        {% for finalist in finalists %}
        <div data-youtube-id="{{finalist.video_url}}" class="finalist-slot"
            data-id="{{ finalist.id }}"
            style="top: 36.3%; 
                    left: {{ finalist.is_left_side|yesno:'32.4,61.7' }}%;">
            <span class="finalist-name">{{ finalist.obj_name }}</span>
            <div class="finalist-box">
                <img src="{{ finalist.img }}" alt="{{ finalist.obj_name }}">
            </div>
        </div>
        {% endfor %}
    </div>

        {% else %}
    <div class="bracket-wrapper">
        <div class="button-container">
        <button hidden class="pick-button" id="left-pick">Pick</button>
        <button hidden class="pick-button" id="right-pick">Pick</button>
        <button hidden class="pick-button" id="final-pick">Pick</button>
    </div>

        <img src="{% static 'bracket/images/semi-final.png' %}" class="bracket-bg" alt="Tournament Bracket">
        
        <!-- Original Participants (hidden or shown as needed) -->
        {% for obj in semi_finalists %}
        <div class="participant-slot original-participant"
            data-id="{{ obj.id }}"
            style="top: {{ obj.slot_row_semi}}%; 
                    left: {{ obj.is_left_side|yesno:'12.2,85.6' }}%;">  <!-- Hide original participants in final stage -->
            <span class="obj_name">{{ obj.obj_name }}</span>
            <div class="participant-box">
                <img src="{{ obj.img }}" alt="{{ obj.obj_name }}">
            </div>
        </div>
        {% endfor %}
        
        <!-- Finalists -->
        {% for finalist in finalists %}
        <div class="finalist-slot"
            data-id="{{ finalist.id }}"
            style="top: 36.3%; 
                    left: {{ finalist.is_left_side|yesno:'32.4,61.7' }}%;">
            <span class="finalist-name">{{ finalist.obj_name }}</span>
            <div class="finalist-box">
                <img src="{{ finalist.img }}" alt="{{ finalist.obj_name }}">
            </div>
        </div>
        {% endfor %}
        <div class="participant-slot original-participant"
            data-id="{{ winner.id }}"
            style="top: 69.5%; left: 56%;"> 
            <div class="champion_winner">
                <span class="obj_name">{{ winner.obj_name }}</span>
                <img src="{{ winner.img }}" alt="{{ winner.obj_name }}">
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}

<div class="selection-modal" id="selection-modal">
    <div class="modal-content">
        <h3>Select Winner</h3>
        <div id="participant-options"></div>
        <button class="select-button" id="confirm-selection">Confirm</button>
    </div>
</div>
{% csrf_token %}
<script src="{% static 'bracket/' %}{% if not finalists %}semi-final{% else %}final{% endif %}.js"></script>
{% endblock %}